/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */

/*
  Setting type to a major second modular scale
 http://www.modularscale.com/?20&px&1.125&web&text
*/


html {
  background: url(../images/backdrop-bw2.jpg)no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  height:100%;
  margin:0;
  padding:0;
  font-size: 1.25em; /*20px 1 em 1.25@16 */
  line-height: 1.2em; /*24/20= 1.2 em */
}

body{
  margin:0;
  padding:0;
  height:100%;
}

#header {
  font-size: 1.601em; /* 32.036px/20px = 1.601em */ 
  font-family: 'Great Vibes', cursive;   
}

#header p{
  font-family: 'Great Vibes', cursive;   
}

p,
ul {
  padding-bottom: .52em; /* 1 girdline */
  font-family: 'Great Vibes', cursive;
  font-weight: bold; 
  line-height: 1.3em;
  color:black;
  padding-top:.75em;
  text-decoration:none;
}

#movie_details #imdb{
  text-decoration:none;
  text-color:black;
}

img,
video {
  display: block;
  max-width: 100%;
}

#container{
  width:70%;/*800px*/
  height:auto;
  margin-left:auto;
  margin-right:auto;
  top:11px;
  margin-bottom:21px;
}

#pic{
  position:fixed;
  top:-50%;
  left:-50%;
  width:200%;
  height:200%;
}

#pic img {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  min-width:50%;
  min-height:50%;
}

#container #background {
  height:100%;
}

#input-div{
  height:12.5%;/* 100/800= 0.125*/
}

#movie_details{
  height:59.37%;/* 475px/800px=0.59375 */
}

#poster{
  height:59.37%;/* 475px/800px=0.59375 */
}

#story p{
  font-weight:bold;
}


#footer{
  height:12.5%;/* 100px/800px= 0.125*/
}

#footer p{
  height:1%;/* 8px/800px=0.01*/
}

/* ===== LAYOUT STYLES ===== */

#header {
  position:relative;
}

#container #background {
  width:100%;
  margin: auto;
  position: absolute;
}

#input-div{
  position: relative;
  width:43.75%;/* 350px/800px=0.4375 */
}

#input-div{
  position: relative;
  width:43.75%;/* 350px/800px=0.4375 */
}

#input-div form{
  width:27.875%;/* 223px/800px=0.27875*/
}

#input-div form{
  width:27.875%;/* 223px/800px=0.27875*/
}

#movie_details{
  position: relative;
  width:50%;/* 400px/800px=0.5 */
  height:59.37%;/* 475px/800px=0.59375 */
  float:right;
}

#poster{
  width:50%;/* 400px/800px=0.5 */
  position: relative;
  float:left;
}

#poster img {
  float:left;
}

#story{
  position: relative;
  width:100%;/*  800px/800px=1*/
  height:37.5%;/* 300px/800px= 0.375*/
  overflow:auto;
  clear:both;
}

#footer{
  margin-bottom:2.625%;/* 21px/800px=0.02625 */
  position:relative;
  clear:both;
}

#footer p{
  height:1%;/* 8px/800px=0.01*/
  width:100%;
  position: absolute;
  top:0;
  bottom: 0;
}

/* ===== MODULAR STYLES ===== */

#header {
  padding-bottom:2%;
  margin-left:auto;
  margin-right:auto;
  height:150px;
  line-height: 1.404em; /* 45/32.036 = 1.404em */
  color: #111;   
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1;
  color:black;
}

#header p{  
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1;
  color:black;
  text-align: center;
  padding-top:1.75em;
  padding-bottom: 1.3%;
}

#container #background {
  width:100%;
  margin: auto;
  max-width:100%;
}

#input-div{
  padding-top:2em;
  padding-bottom:2em;
  margin-left:auto;
  margin-right:auto;
}

#input-div{
  padding-top:2em;
  padding-bottom:2em;
  margin-left:auto;
  margin-right:auto;
}

#input-div form{
  padding-top:20px;/* 20px/800px */
  margin: 0 auto;
}

#input-div form{
  padding-top:20px;/* 20px/800px */
  margin: 0 auto;
}

#input-div #movie-submit{
  margin-left:auto;
  margin-right:auto;
}

#movie_details{
  padding-bottom:1.875%;/* 15px/800px=0.01875 */
}

#movie_details p{
  color:black;
  font-weight:bold;
  margin: 0 auto;
}

#story{
  padding-top:6.25;/* 50px/800px=0.0625*/
  margin-left:auto;
  margin-right:auto;
}

#story p{
  color:black;
}

#footer p{
  height:1%;/* 8px/800px=0.01*/
  width:100%;
  padding-top: .2em; /* 1 girdline */
  padding-bottom: 1.95em; /* 1 girdline */
  background-color: #c9d6cd;
  padding-left:.375%;/* 3px/800px= 0.00375*/
  text-align:center;
}

/* ===== STATE STYLES ===== */



