/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */

/*
  Setting type to a major second modular scale
 http://www.modularscale.com/?20&px&1.125&web&text
*/


html {
  background: url(../images/backdrop-bw.jpg)no-repeat center center fixed;
  /*-webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;*/
  background-size:cover;
  height:100%;
  margin:0;
  padding:0;
  font-size: 1.25em; /*20px 1 em 1.25@16 */
  line-height: 1.2em; /*24/20= 1.2 em */
}

h1 {
  font-size: 1.601em; /* 32.036px/20px = 1.601em */
  line-height: 1.404em; /* 45/32.036 = 1.404em */
}

body{
  margin:0;
  padding:0;
  height:100%;
}

#header {
  background-color:;
  margin-left:auto;
  margin-right:auto;
  height:150px;
  font-size: 1.601em; /* 32.036px/20px = 1.601em */
  line-height: 1.404em; /* 45/32.036 = 1.404em */
  color: #111; 
  font-family: 'Great Vibes', cursive;   
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1;
  color:black;
  position:relative;
}

#header p{
  font-family: 'Great Vibes', cursive;   
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1;
  color:black;
  text-align: center;
  padding-top:1.75em;
}

p,
ul {
  padding-bottom: 1.2em; /* 1 girdline */
}

li {
  padding-bottom: 0.5em; /*half grid line 10px/20px = 0.5em */ 
}

li:last-child {
  padding-bottom: 0;
}


img,
video {
  display: block;
  max-width: 100%;
}

#container{
  width:800px;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  top:11px;
  margin-bottom:21px;
}

#footer{
  height:100px;
  margin-bottom:21px;
  position:relative;
  clear:both;
}

#footer p{
  height:8px;
  width:100%;
  padding-top: .2em; /* 1 girdline */
  background-color: #c9d6cd;
  position: absolute;
  top:0;
  bottom: 0;
  padding-left:3px;
  text-align:center;
}

/* ===== LAYOUT STYLES ===== */
 

/* ===== MODULAR STYLES ===== */


/* ===== STATE STYLES ===== */


